{% extends "layouts/base.njk" %}

{% block title %}About{% endblock %}
{% block description %}Learn more about us{% endblock %}

{% block content %}
<section>
  <h1>About Us</h1>
  <p>This is the about page, automatically routed from the file system.</p>
</section>
{% endblock %}
